<%= render "shared/header" %>

<div class="new-page-title">ユーザー新規登録</div>

<div class="form-manual-contents">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="new-user-nickname">【ニックネーム】
      <span class="need-icon">必須</span>
    </div>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "  半角英数10文字以内", class: "form-user-nickname" %>
  
    <div class="new-user-email">【メールアドレス】
      <span class="need-icon">必須</span>
    </div>
    <%= f.email_field :email, autocomplete: "email", placeholder: "  PC・携帯どちらでも可", class: "form-user-email" %>

    <div class="new-user-password">【パスワード】
      <span class="need-icon">必須</span>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "  半角英数8文字以上（※英字と数字両方を含んでください）", class: "form-user-password" %>

    <div class="new-user-password">【パスワード(確認用)】
      <span class="need-icon">必須</span>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '  パスワードと同じ値を入力してください', class: "form-user-password" %>

    <div>
      <%= f.submit "登録完了", class: "new-submit-btn" %>
    </div>
  <% end %>
</div>
