<div class="mypage-item">
  <div class="mypage-item-header">
    <%= link_to manual.title, manual_path(manual), class: "mypage-title" %>
    <ul>
      <li>#<%= manual.category.name %></li>
      <% if user_signed_in? && manual.user.id == current_user.id %>
        <li class="show-release">
          <% if manual.release.blank? %>
            <%= link_to '一般公開する', manual_releases_path(manual), method: :post, class: "release-btn", data: {confirm: "一般公開すると全ユーザーから情報が閲覧可能になります。\n本当によろしいですか？"} %>
          <% else %>
            <%= link_to '非公開にする', manual_release_path(manual, manual.release.id), method: :delete, class: "release-btn" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? && manual.user.id == current_user.id %>
      <ul>
        <li><%= link_to '編集', edit_manual_path(manual) %></li>
        <li><%= link_to '削除', manual_path(manual), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
      </ul>
    <% end %>
  </div>

  <div class="mypage-image-content">
    <% if manual.image.attached? %>
      <%= link_to image_tag(manual.image.variant(resize: '300x250')), manual_path(manual) %>
    <% else %>
      <%= link_to image_tag("no_image.png", size: '300x240'), manual_path(manual) %>
    <% end %>
  </div>

  <div>【マニュアル説明】
    <%= link_to '☆', manual_likes_path(manual), method: :post %>
    <%= manual.like_users.count %>
    <%= link_to '★', manual_like_path(manual, "#"), method: :delete %>
    <%= manual.like_users.count %>
  </div>
  <div class="mypage-description"><%= manual.description %></div>
  <% if user_signed_in? && manual.user.id == current_user.id %>
    <div class="mypage-manual-user">投稿者：あなたの投稿です</div>
  <% else %>
    <div class="mypage-manual-user">投稿者：<%= manual.user.nickname %></div>
  <% end %>
</div>