<div class="mypage-item">
  <div class="mypage-item-header">
    <%= link_to manual.title, manual_path(manual), class: "mypage-title" %>

    <%= render "shared/manual_action", manual: manual %>
  </div>

  <div class="mypage-image-content">
    <% if manual.image.attached? %>
      <%= link_to image_tag(manual.image.variant(resize: '250x250')), manual_path(manual) %>
    <% else %>
      <%= link_to image_tag("no_image.png", size: '250x240'), manual_path(manual) %>
    <% end %>
  </div>

  <div>【マニュアル説明】
    <% if user_signed_in? %>
      <% if current_user.id == manual.user.id %>
        <span>☆ <%= manual.likes.count %></span>
      <% elsif current_user.already_liked?(manual) %>
        <%= link_to '★', manual_like_path(manual, "#"), method: :delete %>
        <%= manual.like_users.count %>
      <% else %>
        <%= link_to '☆', manual_likes_path(manual), method: :post %>
        <%= manual.like_users.count %>
      <% end %>
    <% else %>
      <%= link_to '☆', manual_likes_path(manual), method: :post %>
      <%= manual.like_users.count %>
    <% end %>
  </div>
  <div class="mypage-description"><%= manual.description %></div>

  <div class="mypage-content-footer">
    <% if user_signed_in? && manual.user.id == current_user.id %>
      <div class="mypage-manual-user">投稿者：あなたの投稿です</div>
    <% else %>
      <div class="mypage-manual-user">投稿者：<%= manual.user.nickname %></div>
    <% end %>
    <div class="mypage-category">#<%= manual.category.name %></div>
  </div>
</div>