<div class="new-manual-name">【マニュアル名】
  <span class="need-icon">必須</span>
</div>
<%= f.text_field :title, placeholder: "(例)", autofocus: true, class: "form-manual-name" %>

<div class="new-manual-category">【カテゴリー】
  <span class="need-icon">必須</span>
</div>
<%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "form-manual-category"}) %>

<div class="new-manual-image">【画像】</div>
<div class="new-image-text">クリックして画像を選択してください</div>
<%= f.file_field :image, class: "form-manual-image", id: "file-field" %>
<%= f.hidden_field :image_url, value: "", id: "image-form" %>

<%= render "shared/canvas" %>

<div class="new-manual-description">【マニュアル説明】</div>
<%= f.text_area :description, placeholder: "(例)", class: "form-manual-description" %>