<header class="header-content">
  <div>
    <%= link_to 'マニュアル作成アプリ', root_path, class: "header-title" %>
  </div>

  <div class="user-content">
    <%# Show below in the case of log out %>
    <% if !user_signed_in? %>
      <div class="user-list">
        <%= link_to 'ログイン', new_user_session_path, class: "user-item" %>
        <%= link_to '新規登録', new_user_registration_path, class: "user-item" %>
      </div>

    <%# Show below int the case of log in %>
    <% else %>
      <div class="user-list">
        <span class="user-item">▲<%= current_user.nickname %>
          <ul>
            <li><%= link_to '編集', edit_user_registration_path, class: "user-edit" %></li>
            <li><%= link_to 'お気に入り', user_likes_path(current_user), class: "user-likes" %></li>
            <li><%= link_to 'マイページ', user_path(current_user), class: "user-mypage" %></li>
          </ul>
        </span>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user-item" %>
      </div>
    <% end %>
  </div>
</header>