<div class="review-contents">
  <div class="review-index">
    <% manual.reviews.each do |review| %>
      <div class="review" style="" review_id=<%= review.id %>>
        <div class="review-header">
          <%= review.user.nickname %>
          <span class="review-time"><%= l review.created_at %></span>
          <% if manual.user.id == current_user.id || review.user.id == current_user.id %>
            <%= link_to '削除', manual_review_path(manual, review), method: :delete, id: "review-delete#{review.id}" %>
          <% else %>
            <%= link_to '削除', manual_review_path(manual, review), method: :delete, id: "review-delete#{review.id}", style: "display: none;" %>
          <% end %>
        </div>
        <div class="review-text"><%= review.content %></div>
      </div>
    <% end %>
    <div id="review-list"></div>
  </div>
  <%= form_with model: review, url: manual_reviews_path(manual), id: "review-form", local: true do |f| %>
    <div class="review-form">
      <%= f.text_field :content, class: "review-submit", id: "review-text", placeholder: "  200文字以内" %>
      <%= f.submit '送信', class: "review-submit-btn", id: "review-submit-btn", manual_id: manual.id %>
    </div>
  <% end %>
</div>