<%= render "shared/header" %>

<h1 style="font-size: 30px;">新規マニュアル投稿画面</h1>
<%= form_with model: @manual, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%= render 'shared/form_manual', f: f %>

  <div>
    <%= f.submit 'マニュアルを作成' %>
  </div>

<% end %>