<%= render "shared/header" %>

<div class="new-page-title">作成するマニュアルの情報を入力</div>

<div class="form-manual-contents">
  <%= form_with model: @manual, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= render 'shared/form_manual', f: f %>

    <div>
      <%= f.submit '作成完了', class: "new-submit-btn" %>
    </div>
  <% end %>
</div>