<%= render "shared/header" %>

<div class="procedure-top">
  <div class="procedure-top-title"><%= @manual.title %></div>
  <ul class="procedure-top-middle">
    <li class="procedure-top-category">#<%= @manual.category.name %></li>
    <% if @manual.user.id == current_user.id %>
      <li><%= link_to '手順を追加', new_manual_procedure_path(@manual), class: "procedure-create" %></li>
    <% end %>
  </ul>
  <% if @manual.user.id == current_user.id %>
    <div class="show-release">
      <% if @manual.release.blank? %>
        <%= link_to '一般公開する', manual_releases_path(@manual, @release), method: :post, class: "procedure-create", data: {confirm: "一般公開すると全ユーザーから情報が閲覧可能になります。\n本当によろしいですか？"} %>
      <% else %>
        <%= link_to '非公開にする', manual_release_path(@manual, @manual.release.id), method: :delete, class: "procedure-create" %>
      <% end %>
    </div>
    <ul class="procedure-top-right">
      <li><%= link_to '編集', edit_manual_path(@manual) %></li>
      <li><%= link_to '削除', manual_path(@manual), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
    </ul>
  <% end %>
</div>

<div class="procedure-top-contents">
  <div class="procedure-top-image">
    <%= render "shared/image_content", model: @manual %>
  </div>

  <div class="procedure-top-item">
    <p>【マニュアル説明】</p>
    <div class="procedure-top-description"><%= @manual.description %></div>
  </div>

  <div class="review-contents">
    <div class="reviews-index">
      <% @manual.reviews.each do |review| %>
        <div class="review" style="" review_id=<%= review.id %>>
          <div class="review-header">
            <%= review.user.nickname %>
            <span class="review-time"><%= l review.created_at %></span>
            <% if @manual.user.id == current_user.id || review.user.id == current_user.id %>
              <%= link_to '削除', manual_review_path(@manual, review), method: :delete, id: "review-delete#{review.id}" %>
            <% else %>
              <%= link_to '削除', manual_review_path(@manual, review), method: :delete, id: "review-delete#{review.id}", style: "display: none;" %>
            <% end %>
          </div>
          <div class="review-text"><%= review.content %></div>
        </div>
      <% end %>
      <div id="review-list"></div>
    </div>
    <%= form_with model: @review, url: manual_reviews_path(@manual), id: "review-form", local: true do |f| %>
      <div class="review-form">
        <%= f.text_field :content, class: "review-submit", id: "review-text", placeholder: "  200文字以内" %>
        <%= f.submit '送信', class: "review-submit-btn", id: "review-submit-btn", manual_id: @manual.id %>
      </div>
    <% end %>
  </div>
</div>

<% @procedures.each_with_index do |procedure, index| %>
  <div class="procedure-contents">
    <div class="procedure-item">
      <div class="procedure-item-header">
        <div class="procedure-number"><%= index+1 %>．</div>
        <div class="procedure-title"><%= procedure.title %></div>
        <% if @manual.user.id == current_user.id %>
          <ul>
            <li><%= link_to '編集', edit_manual_procedure_path(@manual, procedure) %></li>
            <li><%= link_to '削除', manual_procedure_path(@manual, procedure), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
          </ul>
        <% end %>
      </div>

      <div class="procedure-description"><%= procedure.description %></div>
    </div>

    <div class="procedure-top-image">
      <%= render "shared/image_content", model: procedure %>
    </div>

    <div class="procedure-comment-contents">
      <div class="procedure-comments-index">
        <% procedure.comments.each do |comment| %>
          <div class="procedure-comment" style="" comment_id=<%= comment.id %>>
            <div class="pro-comment-header">
              <%= comment.user.nickname %>
              <span class="comment-time"><%= l comment.created_at %></span>
              <% if @manual.user.id == current_user.id || comment.user.id == current_user.id %>
                <%= link_to '削除', manual_procedure_comment_path(@manual, procedure, comment), method: :delete, id: "comment-delete#{comment.id}" %>
              <% else %>
                <%= link_to '削除', manual_procedure_comment_path(@manual, procedure, comment), method: :delete, id: "comment-delete#{comment.id}", style: "display: none;" %>
              <% end %>
            </div>
            <div class="pro-comment-text"><%= comment.content %></div>
          </div>
        <% end %>
        <div id="list<%= procedure.id %>"></div>
      </div>
      <%= form_with model: @comment, url: manual_procedure_comments_path(@manual, procedure), id: "comment-form#{procedure.id}", local: true do |f| %>
        <div class="pro-comment-form">
          <%= f.text_field :content, class: "comment-submit", id: "comment-text#{procedure.id}", placeholder: "  200文字以内" %>
          <%= f.submit '送信', class: "comment-submit-btn", manual_id: @manual.id, procedure_id: procedure.id %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @manual.user.id == current_user.id %>
  <%= link_to '手順を追加', new_manual_procedure_path(@manual), class: "procedure-create" %>
<% end %>