<%= render "shared/header" %>

<div class="procedure-top">
  <div class="procedure-top-title"><%= @manual.title %></div>
  <ul class="procedure-top-middle">
    <li class="procedure-top-category">#<%= @manual.category.name %></li>
    <li><%= link_to '手順を追加', new_manual_procedure_path(@manual), class: "procedure-create" %></li>
  </ul>
  <ul class="procedure-top-right">
    <li><%= link_to '編集', edit_manual_path(@manual) %></li>
    <li><%= link_to '削除', manual_path(@manual), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
  </ul>
</div>

<div class="procedure-top-contents">
  <div class="procedure-top-image">
    <%= render "shared/image_content", model: @manual %>
  </div>

  <div class="procedure-top-item">
    <p>【マニュアル説明】</p>
    <div class="procedure-top-description"><%= @manual.description %></div>
  </div>
</div>

<% @procedures.each_with_index do |procedure, index| %>
  <div class="procedure-contents">
    <div class="procedure-item">
      <div class="procedure-item-header">
        <div class="procedure-number"><%= index+1 %>．</div>
        <div class="procedure-title"><%= procedure.title %></div>
        <ul>
          <li><%= link_to '編集', edit_manual_procedure_path(@manual, procedure) %></li>
          <li><%= link_to '削除', manual_procedure_path(@manual, procedure), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
        </ul>
      </div>

      <div class="procedure-description"><%= procedure.description %></div>
    </div>

    <div class="procedure-top-image">
      <%= render "shared/image_content", model: procedure %>
    </div>

    <div class="procedure-comment-contents">
      <div class="procedure-comments-index">
        <% procedure.comments.each do |comment| %>
          <div class="procedure-comment" style="" comment_id=<%= comment.id %>>
            <div class="pro-comment-header">
              <%= comment.user.nickname %>
              <span class="comment-time"><%= l comment.created_at %></span>
              <%= link_to '削除', manual_procedure_comment_path(@manual, procedure, comment), method: :delete, id: "comment-delete#{comment.id}" %>
            </div>
            <div class="pro-comment-text"><%= comment.content %></div>
          </div>
        <% end %>
        <div id=list<%= procedure.id %>></div>
      </div>
      <%= form_with model: @comment, url: manual_procedure_comments_path(@manual, procedure), id: "comment-form#{procedure.id}", local: true do |f| %>
        <div class="pro-comment-form">
          <%= f.text_field :content, class: "comment-submit", id: "comment-text#{procedure.id}" %>
          <%= f.submit '送信', class: "comment-submit-btn", manual_id: @manual.id, procedure_id: procedure.id %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= link_to '手順を追加', new_manual_procedure_path(@manual), class: "procedure-create" %>