<%= render "shared/header" %>

<div class="procedure-top">
  <div class="procedure-top-title"><%= @manual.title %></div>
  <ul class="procedure-top-middle">
    <li class="procedure-top-category">#<%= @manual.category.name %></li>
    <% if @manual.user.id == current_user.id %>
      <li><%= link_to '手順を追加', new_manual_procedure_path(@manual), class: "procedure-create" %></li>
    <% end %>
  </ul>
  <% if @manual.user.id == current_user.id %>
    <div class="show-release">
      <% if @manual.release.blank? %>
        <%= link_to '一般公開する', manual_releases_path(@manual, @release), method: :post, class: "procedure-create", data: {confirm: "一般公開すると全ユーザーから情報が閲覧可能になります。\n本当によろしいですか？"} %>
      <% else %>
        <%= link_to '非公開にする', manual_release_path(@manual, @manual.release.id), method: :delete, class: "procedure-create" %>
      <% end %>
    </div>
    <ul class="procedure-top-right">
      <li><%= link_to '編集', edit_manual_path(@manual) %></li>
      <li><%= link_to '削除', manual_path(@manual), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
    </ul>
  <% end %>
</div>

<div class="procedure-top-contents">
  <div class="procedure-top-image">
    <%= render "shared/image_content", model: @manual %>
  </div>

  <div class="procedure-top-item">
    <p>【マニュアル説明】</p>
    <div class="procedure-top-description"><%= @manual.description %></div>
  </div>

  <%= render "shared/review", {manual: @manual, review: @review} %>
</div>

<% @procedures.each_with_index do |procedure, index| %>
  <div class="procedure-contents">
    <div class="procedure-item">
      <div class="procedure-item-header">
        <div class="procedure-number"><%= index+1 %>．</div>
        <div class="procedure-title"><%= procedure.title %></div>
        <% if @manual.user.id == current_user.id %>
          <ul>
            <li><%= link_to '編集', edit_manual_procedure_path(@manual, procedure) %></li>
            <li><%= link_to '削除', manual_procedure_path(@manual, procedure), method: :delete, data: {confirm: "本当に削除しますか？"} %></li>
          </ul>
        <% end %>
      </div>

      <div class="procedure-description"><%= procedure.description %></div>
    </div>

    <div class="procedure-top-image">
      <%= render "shared/image_content", model: procedure %>
    </div>

    <div class="comment-contents">
      <div class="comment-index">
        <% procedure.comments.each do |comment| %>
          <%= render "shared/test_comment", {manual: @manual, procedure: procedure, comment: comment, type: 'comment', path: manual_procedure_comment_path(@manual, procedure, comment)} %>
        <% end %>
        <div id="list<%= procedure.id %>"></div>
      </div>
      <%= render "shared/test_comment_form", {manual: @manual, procedure: procedure, comment: @comment, type: 'comment', path: manual_procedure_comments_path(@manual, procedure)} %>
    </div>
  </div>
<% end %>

<% if @manual.user.id == current_user.id %>
  <%= link_to '手順を追加', new_manual_procedure_path(@manual), class: "procedure-create" %>
<% end %>