<%= link_to 'トップ画面に戻る', root_path %>
<%= link_to 'マイページに戻る', user_path(current_user) %>
<div>
  <%= image_tag(@manual.image.variant(resize: '300x300')) %>
  <%= @manual.title %>
  <%= @manual.category.name %>
  <%= @manual.description %>
</div>
<div>
  <ul>
    <li>手順１</li>
    <li>手順２</li>
    <li>手順３</li>
    <li><%= link_to '新規手順を作成', new_manual_procedure_path(@manual) %></li>
  </ul>
</div>