<%= render "shared/header" %>

<%= link_to 'マニュアル詳細画面に戻る', manual_path(@manual), class: "edit-to-new" %>
<div class="new-page-title"> 編集したい手順の情報を入力</div>

<div class="form-manual-contents">
  <%= form_with model: [@manual, @procedure], local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= render 'shared/form_procedure', f: f %>

    <div>
      <%= f.submit '編集完了', class: "new-submit-btn" %>
    </div>
  <% end %>
</div>