<%= link_to 'トップ画面に戻る', root_path %>
<%= link_to 'マニュアル詳細に戻る', manual_path(@manual) %>

<h1 style="font-size: 30px;">新規マニュアル手順投稿画面</h1>
<%= form_with model: [@manual, @procedure], local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%= render 'shared/form_procedure', f: f %>

  <div>
    <%= f.submit '手順を追加' %>
  </div>

<% end %>