<%= link_to 'トップ画面に戻る', root_path %>
<%= link_to 'マニュアル詳細に戻る', manual_path(@manual) %>
<h1 style="font-size: 30px;">新規マニュアル投稿画面</h1>
<%= form_with model: [@manual, @procedure], local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "(例)" %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "", rows: 5, cols: 30 %>
  </div>

  <div>
    <%= f.submit '手順を追加' %>
  </div>

<% end %>