<%= render "shared/header" %>

<%= link_to 'マニュアル詳細画面に戻る', manual_path(@manual), class: "edit-to-new" %>
<div class="new-page-title"> 作成したい手順の情報を入力</div>

<div class="form-manual-contents">
  <%= form_with model: [@manual, @procedure], local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%= render 'shared/form', {f: f, title_name: 'タイトル', title_count: '30', description_name: '内容', description_count: '400'} %>

    <div>
      <%= f.submit '作成完了', class: "new-submit-btn" %>
    </div>
  <% end %>
</div>